@charset "UTF-8";

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #6b6b6b;
    color: #222222;
    font-weight: bold;
}

.table thead th, .table td, .table th {
    text-align: center;
}

#tabs {
    max-width: 800px;
    margin: auto;
}

#inum {
    width: 100px;
}

#itel {
    width: 200px;
}

#icnpj {
    width: 200px;
}